@using H3Control
@using Universe
@inherits Nancy.ViewEngines.Razor.NancyRazorViewBase<dynamic>

@{
    Layout = null;
}


<!DOCTYPE HTML>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml" ng-app="h3control" style="padding-left: 0">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>h3control (@Html.Raw(DeviceDataSource.HostName))</title>

        <link rel="shortcut icon" type="image/x-icon" href='@Html.HRef(this)["favicon.ico?Wow"]' >
        <link rel="apple-touch-icon" sizes="57x57" href='@Html.HRef(this)["h3-57x57.png"]' />
        <link rel="apple-touch-icon" sizes="72x72" href='@Html.HRef(this)["h3-72x72.png"]' />
        <link rel="apple-touch-icon" sizes="114x114" href='@Html.HRef(this)["h3-144x144.png"]' />
        <link rel="apple-touch-icon" sizes="144x144" href='@Html.HRef(this)["h3-144x144.png"]' />

        <meta name="msapplication-TileColor" content="#1262AA">
        <meta name="msapplication-TileImage" content='@Html.HRef(this)["h3-144x144.png"]'>

        @Html.Script(this)["Scripts/jquery-1.12.4.min.js"]
        @Html.Script(this)["Scripts/angular.1.2.29.min.js"]
        @Html.Script(this)["H3Content/jquery.extentions.js"]

        

        <!-- through  out bootstrapper? -->
        @Html.Css(this)["Content/bootstrap.min.css"]
        @Html.Css(this)["Content/bootstrap-theme.min.css"]
        @Html.Script(this)["Scripts/bootstrap.min.js"] 
        

        <!-- Offline Fonts -->
        <!--<link rel="stylesheet" href="Content/kanit/fonts.css" type="text/css" />-->
        <!-- GAUGE -->
        @Html.Css(this)["jqwidgets/styles/jqx.base.css"]
        @Html.Css(this)["jqwidgets/styles/jqx.light.css"]
        @Html.Css(this)["jqwidgets/styles/jqx.darkblue.css"]
        @Html.Css(this)["jqwidgets/styles/jqx.fresh.css"]

        @Html.Script(this)["jqwidgets/jqxcore.js"]
        @Html.Script(this)["jqwidgets/jqxdraw.js"]
        @Html.Script(this)["jqwidgets/jqxgauge.js"]
        @Html.Script(this)["jqwidgets/jqxexpander.js"]
        @Html.Script(this)["jqwidgets/jqxmenu.js"]
        @Html.Script(this)["jqwidgets/jqxnotification.js"]
        @Html.Script(this)["jqwidgets/jqxbuttons.js"]
        <!-- @Html.Script(this)["jqwidgets/jqxchart.js"] -->
        @Html.Script(this)["jqwidgets/jqxdata.js"]
        @Html.Script(this)["jqwidgets/jqxrating.js"]
        @Html.Script(this)["Scripts/jquery.popupoverlay.js"]
    <!--@Html.Script(this)["Scripts/angular.js"]
        @Html.Script(this)["jqwidgets/jqxangular.js"] 
    -->

        @Html.Script(this)["Scripts/BrowserDetect.js"]
    
        <!-- H3 Scripts and styles as is -->
        @Html.Css(this)["H3Content/h3.css"]
        @Html.Css(this)["H3Content/h3_commonmark2.css"]
        @Html.Script(this)["H3Content/h3_cpuMenu.js"]
        @Html.Script(this)["H3Content/h3_cpuFreq.js"]
        @Html.Script(this)["H3Content/h3_cpuUsage.js"]
        @Html.Script(this)["H3Content/h3_refreshRate.js"]
        @Html.Script(this)["H3Content/h3_nextIter.js"]


        <script type="text/javascript">
@*
    var initialDeviceInfo = @Html.Raw(Model.JSonDevice);

    var UpdateSpeed = 2000; // milliseconds
*@
    var h3context = {
        // DEFAULT Update Speed, should be from one of a .UpdateSpeedButton button
        UpdateSpeed: 2000, // milliseconds
        IsMobile: @Html.GetUserAgent(this).IsMobile.ToJson(),
        IsRelease: @H3Environment.IsRelease.ToJson(),
        BuiltAt: @Html.ToJs(H3Environment.BuiltAtUtc),
        Version: @Html.ToJs(H3Environment.VerAsPublic),
        DeviceInfo: @Html.Raw(Model.JSonDevice),
        Processes: {
            order: @Html.EnumToJs(H3Environment.ProcessesDefaults.Order),
            topN: @H3Environment.ProcessesDefaults.TopN,
            Processes: @Html.Raw(Model.JSonProcesses),
        },
    };



    h3context.GuageAnimationDuration = h3context.IsMobile ? 100 : 700;
</script>

        @Html.Script(this)["H3Content/h3_main.js"]
        <!-- angular hides loading of another js, so its the last -->
        @Html.Script(this)["H3Content/h3_processesCtrl.js"]


    </head>
    <body>

        <div class="container theme-showcase-outthere" role="main" style='position: relative; text-align: center; /*margin: 0 5px 0 5px;*/ width: 925px; '>
            @*<br/>*@

            <div class="Restricted Restricted-1" style="display: none; z-index: 999; position: absolute;">NO ACCESS&nbsp;&nbsp;&nbsp;&nbsp;NO ACCESS</div>
            <div class="Restricted Restricted-2" style="display: none; z-index: 999; position: absolute;">NO ACCESS&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;NO ACCESS</div>


            <!-- Main jumbotron for a primary marketing message or call to action
        <div class="jumbotron">
            <h1>Orange Pi plus h3control</h1>
            <p>Here is a single weekend prototype of the web access to tempereture &amp; frequency of an OP+</p>
            <p>
                <button type="button" class="btn btn-lg btn-default">Orange Pi 1 (192.168.0.11)</button>
                <button type="button" class="btn btn-lg btn-primary">Orange Pi 2 (192.168.0.15)</button>
                <button type="button" class="btn btn-lg btn-default">Orange Pi 3 (192.168.0.99)</button>
                <button type="button" class="btn btn-lg btn-default">Orange Pi 4 (192.168.0.144)</button>
            </p>
        </div>
        -->

            <div id="newVersionNotification" style='position: absolute; left: 440px; top: 480px; visibility: hidden'>
                <b>New version X.Y.ZZZ is available!</b>
            </div>

            <table border="0" cellspacing="0" cellpadding="0" id="PageContainer" style="margin-top: 20px">
                <tr>
                    <td colspan="4" style="padding-bottom: 9px">
                        <div style="position: relative;">
                            <div id="gauge" style="margin-left: 0px; float: left;"></div>
                            <div id="tempValu_" style="position: absolute; top: 60px; left: 344px; width: 240px;">&nbsp;</div>
                            <div id="tempValue" style="position: absolute; top: 60px; left: 344px; width: 240px;">TEMPERATURE: ..... ° </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <table border="0" cellspacing="0" cellpadding="0">
                            <tr>
                                <!--CPU MIN MENU-->
                                <td>
                                    <div id='cpuMinExpander' class="cpuExpanderHeader">
                                        <div style='text-align: center'>
                                            CPU<sub> MIN</sub> (Mhz)
                                        </div>
                                        <div style='background-color: #F0F0F0; overflow: hidden'>
                                            <div id='jqxWidget'>
                                                <div id='cpuMinMenu' style="visibility: hidden; background-color: transparent; text-align: center" class="cpuMenu">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>

                                <!--CPU MAX MENU-->
                                <td style='padding-left: 10px'>
                                    <div id='cpuMaxExpander' class="cpuExpanderHeader">
                                        <div style='text-align: center'>
                                            CPU<sub> MAX</sub> (Mhz)
                                        </div>
                                        <div style='background-color: #F0F0F0; overflow: hidden'>
                                            <div id='jqxWidget'>
                                                <div id='cpuMaxMenu' style="visibility: hidden; background-color: #F0F0F0; text-align: center" class="cpuMenu">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>

                    </td>

                    <!--CPU GAUGE-->
                    <td style="padding-left: 10px; vertical-align: top">
                        <div>
                            <div id="demoWidget" style="position: relative;">
                                <div style="float: left;" id="cpuContainer"></div>
                                <div id="cpuValue" style="position: absolute; top: 179px; left: 56px; width: 144px; font-family: Sans-Serif; text-align: center; font-size: 16px; "></div>
                                <div id="cpuLimits" style="position: absolute; top: 202px; left: 58px; font-family: Sans-Serif; text-align: center; font-size: 13px; width: 140px; border-top: 1px dotted gray; color: gray"></div>
                            </div>
                        </div>
                    </td>

                    <!--DDR GAUGE-->
                    <td style='padding-left: 10px; vertical-align: top'>
                        <div>
                            <div id="demoWidget" style="position: relative;">
                                <div style="float: left;" id="ddrContainer"></div>
                                <div id="ddrValue" style="position: absolute; top: 179px; left: 56px; width: 144px; font-family: Sans-Serif; text-align: center; font-size: 16px; "></div>
                                <div id="ddrLimits" style="position: absolute; top: 202px; left: 58px; font-family: Sans-Serif; text-align: center; font-size: 13px; width: 140px; border-top: 1px dotted gray; color: gray"></div>
                            </div>
                        </div>
                    </td>

                    <td>
                        <!--- DDR CONTROL -->
                        <div style="position: relative;" @*style="position: absolute; left: 1030px; top: 136px"*@>
                            <div id='ddrExpander' class="cpuExpanderHeader">
                                <div style='text-align: center'>DDR (Mhz)</div>
                                <div style='background-color: #F0F0F0; overflow: hidden'>
                                    <div id='jqxWidget'>
                                        <div id='ddrMenu' style="visibility: hidden; background-color: transparent; text-align: center" class="cpuMenu">
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>

                </tr>
                <tr>
                    <td style="padding-top: 10px; vertical-align: top"></td>
                    <td colspan="3" style='padding-top: 10px; text-align: center;'></td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div ng-controller="processesCtrl" id="processesCtrl" ng-show="Visible" style="display: none">
                            <table class="PList">
                                <tr>
                                    <th class="pid">pid</th>
                                    <th class="cpu" ng-click="changeOrder('Cpu')" ng-class="getHeaderClass('Cpu')">cpu <span ng-bind-html="getSelectedSortMark('Cpu') | unsafe"></span></th>
                                    <th class="rss" ng-click="changeOrder('Rss')" ng-class="getHeaderClass('Rss')">rss <span ng-bind-html="getSelectedSortMark('Rss') | unsafe"></span></th>
                                    <th class="size" ng-click="changeOrder('Size')" ng-class="getHeaderClass('Size')">mem <span ng-bind-html="getSelectedSortMark('Size') | unsafe"></span></th>
                                    <th class="swapped" ng-click="changeOrder('Swapped')" ng-class="getHeaderClass('Swapped')">swap <span ng-bind-html="getSelectedSortMark('Swapped') | unsafe"></span></th>
                                    <th class="process">top processes</th>
                                </tr>
                                <tr ng-repeat="pr in Processes">
                                    <td class="pid" ng-bind="pr.Pid"></td>
                                    <td class="cpu" ng-bind="pr.CpuUsage | number:1"></td>
                                    <td class="rss"><span ng-bind-html="formatKb(pr.Rss) | unsafe"></span></td>
                                    <td class="size"><span ng-bind-html="formatKb(pr.Size) | unsafe"></span></td>
                                    <td class="swapped"><span ng-bind-html="formatSwapped(pr.Swapped) | unsafe"></span></td>
                                    <td class="process" ng-bind="pr.Args"></td>
                                </tr>
                            </table>
                        </div>

                    </td>
                </tr>
                <tr>
                    <td colspan="4">
                        <div style="position: relative; width: 100%">
                            <div id="error" style='position: absolute; width: 100%; left: 0; top: 0; color: #DDD; float: left; text-align: left'></div>
                            <div id="BrowserInfo" style='position: absolute; width: 100%; left: 0; top: 0; color: #DDD; float: right; text-align: right'></div>
                            <div id="osName" style="position: absolute; width: 100%; left: 0; top: 0; color: #DDD; text-align: center"></div>
                        </div>
                    </td>
                </tr>
            </table>


            <div id="rating_panel" style="position: absolute; top: 130px; left: 421px; z-index: 999; display: none">
                <div id="rating"></div>
                <div id="rating_footer">VER <span id="version">@H3Environment.VerAsPublic</span></div>
            </div>

            <div style="position: absolute; left: 500px; top: 330px; border: none; z-index: 9999; width: 66px; height: 66px; text-align: center; line-height: 66px;">
                <button id="newVersionInfo" style="display: none" class="btn btn-info btn-lg" type="button"> <span class="glyphicon glyphicon-bell"></span> </button>
                <span id="oldVersionInfo" style="font-size: 30px; color: #DDD; cursor: pointer" class="glyphicon glyphicon-info-sign"></span>
            </div>

            <div style="position: absolute; left: 0px; top: -15px; border: none; z-index: 9999; width: 66px; height: 66px; text-align: center; line-height: 66px; background: transparent; width: 925px; text-align: center">
                <div id="updateSpeedContainer" style="vertical-align: top; text-align: center; width: 230px; display: none; text-align: center; width: 100%">
                    <button class="UpdateSpeedButton" id="updateSpeed_500" value="500">&nbsp;0.5s&nbsp;</button>
                    &nbsp;<button class="UpdateSpeedButton" id="updateSpeed_1000" value="1000">&nbsp;1s&nbsp;</button>
                    &nbsp;<button class="UpdateSpeedButton" id="updateSpeed_2000" value="2000">&nbsp;2s&nbsp;</button>
                    &nbsp;<button class="UpdateSpeedButton" id="updateSpeed_5000" value="5000">&nbsp;5s&nbsp;</button>
                    &nbsp;<button class="UpdateSpeedButton" id="updateSpeed_10000" value="10000">&nbsp;10s&nbsp;</button>
                </div>
            </div>

            <div id="memUsagePlaceholder" style="position: absolute; z-index: 999; left: 194px; top: 443px">
                <div id="memUsage"></div>
            </div>

            <div id="cpuUsageContainer" class="CpuUsageDivSize" style="left: 243px; position: absolute; top: 404px; z-index: 7999"><div id="cpuUsageSample"></div></div>


        </div>





@*
    <div style="display: none">
        <div id='memChart' style="margin-left: 48px; width: 140px; height: 140px; float: left">
        </div>
        <div id='swapChart' style="margin-left: 556px; width: 140px; height: 140px; float: left">
        </div>
    </div>
*@



    <div id="feedback_popup" style="display: none" class="well">
        <div id="feedback_content">
            <div id="feedback_reply" style="float: left">
                What the hell
            </div>
            <button id="feedback_close" class="btn btn-default" style="float: right; height: 40px"><span id="feedback_close_text">Close</span></button>
        </div>
    </div>

    <div id="whatsnew_popup" style="display: none" class="well_whatsnew">
        <div id="whatsnew_content">
            <div id="whatsnew_header" style="text-align: center; padding-bottom: 5px; border-bottom: 1px solid gray; margin-bottom: 10px">
                <div style="float: left">this ver: @H3Environment.VerAsPublic</div>
                <div style="float: right">new ver: <span id="labelNewVersion">X.YY.ZZZ</span></div>
                <span class="glyphicon glyphicon-star-empty"></span>&nbsp;&nbsp;&nbsp;h3control: history&nbsp;&nbsp;&nbsp;<span class="glyphicon glyphicon-star-empty"></span>
            </div>
            <div id="whatsnew_markdown" class="markdown" style="height: 420px; overflow-y: scroll; padding-right: 10px">
                <pre id="whatsnew_there_are_new_version" style="text-align: center"><code style="text-align: center; line-height: 1.8em"><span style="font-size: 1.8em" class="glyphicon glyphicon-cloud-download"></span>&#10;wget -q -nv -O - https://github.com/devizer/h3control-bin/raw/master/public/h3control.sh | bash</code></pre>
                <pre id="whatsnew_its_latest_version" style="text-align: center"><code style="text-align: center">newer <strong>public</strong> version isn't known <span class="glyphicon glyphicon-thumbs-up"></span></code></pre>
                <div id="whatsnew_loading" style="padding-top: 110px; text-align: center">loading...</div>
                <div id="whatsnew_html" style="display: none">
                    <h4>So,</h4>
                    <p>Something new will ...</p>
                </div>
            </div>
        </div>
    </div>



    </body>
</html>
